{% extends "todo/base.html" %} {% block content %}

<h1>{{ tasklist.title }}<span class="list-completion">{{ tasklist.completed_tasks_count }}/{{ tasklist.tasks_count }}</span></h1>

<a href="{% url 'updatetasklist' tasklist.id %}">Modifier la liste</a>

<form action="{% url 'archivetasklist' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Archiver la liste</button>
</form>

<form action="{% url 'deletetasklist' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Supprimer la liste</button>
</form>

<form action="{% url 'createtask' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Ajouter une tâche</button>
</form>

{% if tasklist.tasks_to_to %}

<h2>Tâches en cours</h2>

<ul>
    {% for task in tasklist.tasks_to_do %}
    <li>
        <span>{{ task.title }}</span>
        <form action="{% url 'completetask' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Compléter</button>
        </form>
        <button>
            <a href="{% url 'updatetask' task.id %}">Modifier</a>
        </button>
        <form action="{% url 'deletetask' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endif %} {% if tasklist.tasks_to_to %}

<h2>Tâches complété</h2>

<ul>
    {% for task in tasklist.completed_tasks %}
    <li>
        <span>{{ task.title }}</span>
        <form action="{% url 'reactivatetask' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Réactiver</button>
        </form>
        <button>
            <a href="{% url 'updatetask' task.id %}">Modifier</a>
        </button>
        <form action="{% url 'deletetask' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endif %} {% endblock %}
