{% extends "todo/base.html" %} {% block content %}

<h1>{{ tasklist.title }}</h1>

<a href="{% url 'updatetasklist' tasklist.id %}">Modifier la liste</a>

<form action="{% url 'archivetasklist' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Archiver la liste</button>
</form>

<form action="{% url 'deletetasklist' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Supprimer la liste</button>
</form>

<form action="{% url 'createtask' tasklist.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Ajouter une tâche</button>
</form>

<ul>
    {% for task in tasklist.task_set.all %}
    <li>
        {{ task.title }}
        <a href="{% url 'updatetask' task.id %}">Modifier</a>
        <form action="{% url 'deletetask' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}
