{% extends "todo/base.html" %} {% block content %}

<h1>{{ tasklist.title }} <span class="list-completion">{{ tasklist.completed_tasks_count }}/{{ tasklist.tasks_count }}</span></h1>

<div class="d-flex flex-wrap align-items-end">
    
    <a class="m-2 btn btn-primary text-white" href="{% url 'updatetasklist' tasklist.id %}">Modifier la liste</a>

    <form class="m-2" action="{% url 'archivetasklist' tasklist.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-warning" type="submit">Archiver la liste</button>
    </form>

    <form class="m-2" action="{% url 'deletetasklist' tasklist.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Supprimer la liste</button>
    </form>

    <a href="{% url 'createtask' tasklist.id %}" class="m-2 btn btn-success">Ajouter une tâche</a>
</div>

<table class="table mt-2">
    {% if tasklist.tasks_to_do %}
        <thead>
            <tr>
                <th colspan="2">
                    Tâches en cours
                </th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasklist.tasks_to_do %}
            <tr>
                <td><span>{{ task.title }}</span></td>
                <td class="d-flex align-items-end">
                    <form class="mx-2" action="{% url 'completetask' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit"><i class="fa-solid fa-check"></i></button>
                    </form>
                    <a class="mx-2 btn btn-primary text-white" href="{% url 'updatetask' task.id %}"><i class="fa-solid fa-pencil"></i></i></a>
                    <form class="mx-2" action="{% url 'deletetask' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% endif %} 
    {% if tasklist.completed_tasks %}
    <thead>
        <tr>
            <th colspan="2">
                Tâches complétées            
            </th>
        </tr>
    </thead>
    {% endif %}
    <tbody>
        {% for task in tasklist.completed_tasks %}
        <tr>
            <td><span>{{ task.title }}</span></td>
            <td class="d-flex align-items-end actions">
                <form action="{% url 'reactivatetask' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="mx-2 btn btn-success" type="submit"><i class="fa-solid fa-rotate-right"></i></button>
                </form>
                <button class="mx-2 btn btn-primary">
                    <a class="text-white" href="{% url 'updatetask' task.id %}"><i class="fa-solid fa-pencil"></i></i></a>
                </button>
                <form class="mx-2" action="{% url 'deletetask' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
